swerve_c++/swerve[[:space:]]half/firmware/** linguist-vendored
swerve_c++/swerve[[:space:]]half/include/pros/** linguist-vendored
swerve_c++/swerve[[:space:]]half/include/liblvgl/** linguist-vendored
swerve_c++/swerve[[:space:]]half/include/api.h linguist-vendored
swerve_c++/swerve[[:space:]]half/include/common.mk linguist-vendored
